.about__slider {
    background: #F4E5D4;

    .slick-next {
        right: -75px;
        top: 58%;
        border-radius: 3px;
        padding: 5px;
        margin: 5px;

        &::before {
            content: "";
        }
    }

    .slick-prev {
        left: -75px;
        top: 58%;
        border-radius: 3px;
        padding: 5px;
        margin: 5px;

        &::before {
            content: "";
        }
    }

    svg {
        cursor: pointer;
        color: black;
        width: 1.5rem;
        height: 1.5rem;
        margin-top: -28px;
        margin-left: -7px;
        filter: invert(68%) sepia(48%) saturate(372%) hue-rotate(359deg) brightness(94%) contrast(88%);
    }

    .about-head {
        font-weight: 400;
        font-size: 55px;
        line-height: 66px;
        text-align: center;
        letter-spacing: 0.03em;
        color: #E60E07;
        font-family: 'arno-pro-regular', 'sans-serif';
    }

    .about__item-order {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1.3rem;

        .arrow{
            width: 4%;
        }

        .item-wrapper {
            img {
                margin: 0 auto;
                display: flex;
                width: 80px;
                height: 80px;
            }

            p {
                text-align: center;
                font-size: 14px;
                line-height: 20px;
                color: #130F02;
                /* font-family: 'legan','sans-serif' !important; */
                font-family: 'futura-regular', 'sans-serif';
                font-weight: 300;
                margin-top: 10px;
                max-width: 200px;
            }
        }
    }
}


@media screen and (max-width: 576px) {
    .about__slider{

        .slick-prev{
            left: 3px;
            top: 51%;
        }
        .slick-next{
            right: 10px;
            top: 51%;
        }
        .about-head{
            font-size: 40px;
        }
        .about-text{
            font-size: 14px;
        }

        .item-wrapper{
            img{
                width: 65px !important;
            }
        }
        
        .about__item-order{
            gap: .4rem;
        }
    }
}


@media screen and (min-width: 576px) and (max-width: 768px) {
    .about__slider{

        .slick-prev{
            left: -15.5px;
            top: 51%;
        }
        .slick-next{
            right: -15.5px;
            top: 51%;
        }
        .about-head{
            font-size: 40px;
        }
        .about-text{
            font-size: 14px;
        }

        .item-wrapper{
            img{
                width: 65px !important;
            }
        }
        
        .about__item-order{
            gap: .4rem;
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 992px) {
    .about__slider{

        .slick-prev{
            top: 55%;
            left: -1px;
        }
        .slick-next{
            right: 15.5px;
            top: 55%;
        }
        .about-head{
            font-size: 40px;
        }
        .about-text{
            font-size: 14px;
        }

        .item-wrapper{
            img{
                width: 65px !important;
            }
        }
        
        .about__item-order{
            gap: .4rem;
        }
    }
}