.about-main {
    cursor: pointer;
    position: relative;

    .centered{
        position: absolute;
        top: 39%;
        left: 50%;
        max-width: 600px;
        transform: translate(-50%,50%);
        text-align: center;
       p{
        font-size: 26px;
        line-height: 24px;
        color: #ffffff;
        font-family: 'futura-light','sans-serif';
       }

      .play-btn{
        margin-bottom: 30px;
      }
    }

}



.modal-box {
    border: none !important;
    outline: none !important;
    z-index: 1111111111111 !important;

    .thumbnail{
        width: 100% !important;
        height: 650px;
    }

    iframe {
        border: none !important;
        outline: none !important;
    }
}

.modal-wrapper{
    box-shadow: none !important;
    border: none !important;
    z-index: 111111111111 !important;

    .close-box {
        position: absolute;
        color: white;
        right: -147px;
        /* left: 0; */
        font-size: 25px;
        top: -16px;
        bottom: 0;
        cursor: pointer;
    }

}


@media screen and (max-width: 576px) {
        .modal-box{
            .thumbnail{
                height: 311px;
            }
        }


        .about-main{
            .centered{
                top: 10%;
                left: 50%;
                min-width: 324px;

                p{
                    font-size: 1rem;
                }
            }
        }

        .modal-wrapper{
            iframe{
                width: 350px;
                height: 300px;
            }
            .close-box{
                display: none;
            }   
        }

        
}