.about__item {
  background: #F4E5D4;
  position: relative;
  overflow: hidden;
}
.about__item .indicator-item {
  position: absolute;
  top: 8.7%;
  left: 2.5%;
  max-width: 427px;
  transform: rotate(90deg);
}
.about__item .indicator-item-second {
  position: absolute;
  top: 36%;
  right: -13%;
  bottom: 0;
}
.about__item .indicator-item-third {
  position: absolute;
  top: 53.8%;
  right: -4%;
  bottom: 0;
  max-width: 727px;
  transform: rotate(90deg);
  z-index: 11;
}
.about__item .indicator-item-fourth {
  position: absolute;
  top: 68.2%;
  right: -21.9%;
  bottom: 0;
}
.about__item .indicator-item-fifth {
  position: absolute;
  top: 97%;
  right: 35.1%;
  bottom: 0;
  transform: rotate(90deg);
}
.about__item .about__item-wrapper {
  padding: 145px 0;
  display: flex;
}
.about__item .about__item-wrapper .about__item-text {
  position: relative;
  padding-left: 20px;
}
.about__item .about__item-wrapper .about__item-text h4 {
  font-family: "Arno Pro", sans-serif;
  font-style: normal;
  font-weight: 400;
  max-width: 140px;
  font-size: 46px;
  line-height: 66px;
  color: #974D24;
  position: absolute;
  left: 200px;
  top: 55px;
}
.about__item .about__item-wrapper .about__item-text .about__item-num {
  font-size: 230px;
  font-weight: bold;
  color: #DDC6AE;
  opacity: 0.35;
  font-family: "Arno Pro", sans-serif;
}
.about__item .about__item-wrapper .about__thumbnail {
  position: relative;
  width: 100%;
  max-width: 100%;
}
.about__item .about__item-wrapper .about__thumbnail .about__item-desc {
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  font-family: "futura-regular", "sans-serif";
  font-weight: 400;
  background: #E7D2BB;
  padding: 50px;
  position: absolute;
  max-width: 830px;
  width: 100%;
  bottom: -54px;
  transition: 0.5s all ease-in-out;
  left: -37%;
  z-index: 1111;
}

@media screen and (max-width: 576px) {
  #indicator-item {
    display: none;
  }
  .about__item .about__item-wrapper {
    flex-wrap: wrap;
    padding: 12px 12px;
  }
  .about__item .about__item-wrapper img {
    width: 100%;
  }
  .about__item .about__item-wrapper .about__item-text {
    padding-left: 82px;
  }
  .about__item .about__item-wrapper .about__item-num {
    font-size: 165px !important;
  }
  .about__item .about__item-wrapper .text__first {
    min-width: 134px !important;
    line-height: 20px !important;
    font-size: 26px !important;
  }
  .about__item img {
    display: block;
  }
  .about__item .about__thumbnail img {
    margin: 15px 0;
  }
  .about__item .about__item-desc {
    width: 100% !important;
    position: static !important;
    order: 1;
    display: flex;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  #indicator-item {
    display: none;
  }
  .about__item .about__item-wrapper {
    flex-wrap: wrap;
    padding: 12px 12px;
  }
  .about__item .about__item-wrapper img {
    width: 100%;
  }
  .about__item .about__item-wrapper .about__item-text {
    padding-left: 82px;
  }
  .about__item .about__item-wrapper .about__item-num {
    font-size: 165px !important;
  }
  .about__item .about__item-wrapper .text__first {
    min-width: 134px !important;
    line-height: 20px !important;
    font-size: 26px !important;
  }
  .about__item img {
    display: block;
  }
  .about__item .about__thumbnail img {
    margin: 15px 0;
  }
  .about__item .about__item-desc {
    width: 100% !important;
    position: static !important;
    order: 1;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  #indicator-item {
    display: none;
  }
  .about__item .about__item-wrapper {
    justify-content: center;
    flex-wrap: wrap;
    padding: 12px 12px;
  }
  .about__item .about__item-wrapper img {
    width: 100%;
  }
  .about__item .about__item-wrapper .about__item-text {
    padding-left: 82px;
  }
  .about__item .about__item-wrapper .about__item-num {
    font-size: 165px !important;
  }
  .about__item .about__item-wrapper .text__first {
    min-width: 134px !important;
    line-height: 20px !important;
    font-size: 26px !important;
  }
  .about__item img {
    display: block;
  }
  .about__item .about__thumbnail img {
    margin: 15px 0;
  }
  .about__item .about__item-desc {
    width: 100% !important;
    position: static !important;
    order: 1;
    display: flex;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .about__item-wrapper {
    padding: 145px 12px;
  }
  .about__item-wrapper .about__thumbnail img {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .about__item-wrapper {
    padding: 145px 12px;
  }
  .about__item-wrapper .about__thumbnail img {
    width: 100%;
  }
}/*# sourceMappingURL=about-item.css.map */