.common-section {
    position: relative;

    img {
        width: 100%;
        max-height: 453px;
        object-fit: cover;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 65px;
        line-height: 78px;
        text-align: center;
        color: #FFFFFF;
        font-family: 'gerald-regular', 'sans-serif';
    }
}

.breadcrumb__index {
    background: #f4e5d4;

    .breadcrumb__item {
        padding: 20px 0;
    }
}

.contact-card {
    background: #F4E5D4;
    padding-bottom: 40px;
    padding-top: 40px;

    .card-main {
        padding: 75px 0;
        display: flex;
        justify-content: center;
        background: #E7D2BB;

        .card-index {
            width: 35%;
            text-align: center;
            border-right: 1px solid #EF9700;
            padding-left: 40px;
            padding-right: 20px;

            &:last-child {
                border: none;
            }

            .title {
                font-family: 'Arno Pro', sans-serif;
                font-style: normal;
                font-weight: 600;
                font-size: 26px;
                line-height: 21px;
                text-align: center;
                text-transform: capitalize;
                color: #974D24;
                padding-bottom: 20px;
            }

            a {
                color: black;
                font-family: 'Mondia', sans-serif;
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 19px;
                text-align: center;
                color: #4C192A;
            }
        }
    }
}

.contact-form {
    background: #F4E5D4;

    form {
        text-align: center;
        max-width: 610px;
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        padding-top: 10px;
        padding-bottom: 135px;
    }

    .input-form {
        background: #FFFAEF;
        margin-bottom: 20px;
        width: 46%;
        margin-right: 20px;
    }

    .textarea {
        width: 100% !important;

        label {
            padding-left: 0 !important;
        }
    }

    label {
        padding-left: 10px !important;
    }

    .submit-btn {
        width: 100%;
        text-align: center;
        padding-top: 6px;

        button {
            color: #974D24;
            border: 1px solid #974D24;
            transition: .5s ease-in-out;
            width: 30%;

            &:hover {
                background: #974D24;
                color: white;
            }
        }
    }

    .css-1x51dt5-MuiInputBase-input-MuiInput-input {
        padding-left: 10px !important;

        &::after{
            content: "";
        }
    }
}

@media screen and (max-width: 576px) {

    .breadcrumb__index {
        .breadcrumb__item {
            padding-left: 15px;

            .MuiBreadcrumbs-li {
                a {
                    font-size: 13px;
                }
            }
        }
    }

    .common-section {
        .centered {
            top: 27%;
            font-size: 35px;
            text-transform: none !important;
        }

        img {
            height: 200px;
        }
    }

    .card-main {
        flex-wrap: wrap;
        gap: 3rem;

        .card-index {
            width: 100% !important;
            border: none;

            .title {
                font-size: 18px !important;
            }

            a {
                font-size: 1rem;
            }
        }
    }

    .contact-form {
        .input-form {
            width: 100%;
        }
    }

}

@media screen and (min-width: 576px) and (max-width: 768px) {

    .breadcrumb__index {
        .breadcrumb__item {
            padding-left: 15px;

            .MuiBreadcrumbs-li {
                a {
                    font-size: 13px;
                }
            }
        }
    }

    .common-section {
        .centered {
            top: 27%;
            font-size: 35px;
            text-transform: none !important;
        }

        img {
            height: 200px;
        }
    }

    .card-main {
        flex-wrap: wrap;
        gap: 3rem;

        .card-index {
            width: 100% !important;
            border: none;

            .title {
                font-size: 18px !important;
            }

            a {
                font-size: 1rem;
            }
        }
    }

    .contact-form {
        .input-form {
            width: 100%;
        }
    }

}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .breadcrumb__index {
        .breadcrumb__item {
            padding-left: 15px;

            .MuiBreadcrumbs-li {
                a {
                    font-size: 16px;
                }
            }
        }
    }

    .common-section {
        .centered {
            top: 27%;
            font-size: 35px;
            text-transform: none !important;
        }

        img {
            height: 200px;
        }
    }

    .card-main {

        .card-index {
            width: 100% !important;
            border: none;

            .title {
                font-size: 18px !important;
            }

            a {
                font-size: 1rem;
            }
        }
    }

    .contact-form {
        .input-form {
            width: 100%;
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {

    .breadcrumb__index {
        .breadcrumb__item {
            padding-left: 15px;

            .MuiBreadcrumbs-li {
                a {
                    font-size: 16px;
                }
            }
        }
    }

    .common-section {
        .centered {
            top: 27%;
            font-size: 35px;
            text-transform: none !important;
        }

        img {
            height: 200px;
        }
    }

    .card-main {

        .card-index {
            width: 100% !important;
            border: none;

            .title {
                font-size: 18px !important;
            }

            a {
                font-size: 1rem;
            }
        }
    }


}

@media screen and (min-width: 1200px) {
    .breadcrumb__index {
        .breadcrumb__item {
            padding-left: 15px;

            .MuiBreadcrumbs-li {
                a {
                    font-size: 16px;
                }
            }
        }
    }

    .common-section {
        position: relative;

        .centered {
            top: 27%;
            font-size: 65px;
            text-transform: none !important;
        }

        .background-img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
            opacity: 1;
            transition: 0.5s all ease-in-out;
        }

        img {
            height: 453px;
        }
    }

}