.home {
  position: relative;
  /* Centered text */
}
.home .home__main-image {
  width: 100%;
  opacity: 1;
  height: 900px;
  filter: brightness(60%);
}
.home .centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 44%;
}
.home .centered .home-title {
  width: 100%;
}
.home .centered .home-subtitle {
  color: #EF9700;
  font-size: 28px;
  padding: 10px 0;
  font-family: "futura-light", sans-serif;
}
.home .centered .home-description {
  font-weight: 300;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #ffffff;
  margin-top: 20px;
  z-index: 99;
  margin: 0 auto;
  max-width: 62%;
}
.home .home-content {
  position: relative;
  text-align: center;
  color: white;
}
.home .home-content .home__index {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transform: translate(-50%, 50%);
}
.home .home-content .home__index h1 {
  color: white;
}

.about__index {
  background: #F4E5D4;
}
.about__index .about__main {
  display: flex;
  align-items: center;
  padding-top: 80px;
}
.about__index .about__main .about__content .title {
  font-family: "Arno Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 66px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #974D24;
}
.about__index .about__main .about__content .description {
  text-align: center;
  max-width: 95%;
  padding-top: 10px;
  padding-bottom: 50px;
}
.about__index .about__main .about__content .about__btn {
  text-align: center;
}
.about__index .about__main .about__content .about__btn button {
  border: 1px solid #974D24;
  color: #974D24;
  font-family: "Arno Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #974D24;
  text-transform: none;
  padding: 11px 67px;
  transition: 0.3s ease-in-out;
}
.about__index .about__main .about__content .about__btn button:hover {
  background: #974D24;
  color: white;
}
.about__index .about__main img {
  width: 100%;
}

.homeCenter {
  width: 100%;
  background: #F4E5D4;
}

.home__video {
  background: #F4E5D4;
  padding-top: 140px;
}
.home__video video {
  pointer-events: none;
}
.home__video .video-content {
  position: relative;
}
.home__video .video-content .gif-text {
  position: absolute;
  top: -296px;
  left: 7%;
  max-width: 36%;
}
.home__video .video-content .gif-head {
  font-family: "arno-pro", "sans-serif";
  font-size: 50px;
  line-height: 75px;
  color: #FAFAFD;
  margin-bottom: 45px;
}
.home__video .video-content .video__btn button {
  border: 1px solid white;
  color: white;
  padding: 5px 40px;
  transition: 0.3s ease-in-out;
}
.home__video .video-content .video__btn button:hover {
  background: white;
  color: #ff2d00;
}

.home__brand {
  background: #F4E5D4;
  padding-top: 80px;
  /* Bottom left text */
  /* Bottom right text */
}
.home__brand .brand__thumbnail {
  position: relative;
}
.home__brand .brand__btn button {
  transition: 0.3s ease-in-out;
}
.home__brand .brand__btn button:hover {
  background-color: white;
  color: #ff2d00;
}
.home__brand .bottom-left {
  position: absolute;
  bottom: 8px;
  left: 96px;
  top: 61px;
  color: white;
  font-family: "arno-pro", "sans-serif";
  font-size: 55px;
  line-height: 62px;
  color: #FAFAFD;
  max-width: 100%;
  font-weight: bold;
  display: flex;
  flex-direction: column;
}
.home__brand .bottom-left button {
  border: 1px solid white;
  color: white;
  padding: 5px 40px;
}
.home__brand .bottom-right {
  position: absolute;
  bottom: 82px;
  right: 125px;
  font-weight: bold;
  color: white;
  font-family: "arno-pro", "sans-serif";
  font-size: 55px;
  line-height: 62px;
  color: #FAFAFD;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
.home__brand .bottom-right .brand__btn {
  text-align: center;
}
.home__brand .bottom-right button {
  border: 1px solid white;
  color: white;
  padding: 5px 50px;
}

@media screen and (max-width: 576px) {
  .home__main-image {
    height: 553px !important;
  }
  .home .centered {
    width: 66% !important;
  }
  .home .centered .home-title {
    width: 92%;
  }
  .home .centered .home-subtitle {
    font-size: 15px;
    max-width: 212px;
    margin: 0 auto;
    padding: 12px 0;
  }
  .home .centered .home-description {
    font-size: 19px;
  }
  .about__main {
    flex-wrap: wrap-reverse;
    margin-bottom: -70px;
  }
  .about__main img {
    width: 75% !important;
  }
  .about__main .title {
    font-size: 34px !important;
  }
  .about__main .col-lg-6 {
    text-align: center;
  }
  .about__main .about__content .description {
    font-size: 1rem;
    margin: 0 auto;
  }
  .about__main button {
    padding: 10px 65px;
    font-size: 0.8rem;
  }
  .homeCenter img {
    width: 100%;
  }
  .home__brand .brand__thumbnail img {
    width: 100%;
  }
  .home__brand .bottom-left {
    text-align: end;
    width: 79%;
    top: 34%;
    left: 46px;
    font-size: 25px;
  }
  .home__brand .bottom-left button {
    padding: 5px 10px;
  }
  .home__brand .bottom-right {
    width: 79%;
    top: 6%;
    left: 20px;
    font-size: 25px;
  }
  .home__brand .bottom-right .brand__btn {
    text-align: left !important;
  }
  .home__brand .bottom-right .brand__btn button {
    padding: 5px 10px;
  }
  .video-content .gif-text {
    top: -150px !important;
    left: 7% !important;
    max-width: 70% !important;
  }
  .video-content .gif-head {
    font-size: 21px !important;
    line-height: 29px !important;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .home__main-image {
    height: 553px !important;
  }
  .home .centered {
    width: 66% !important;
  }
  .home .centered .home-title {
    width: 92%;
  }
  .home .centered .home-subtitle {
    font-size: 15px;
    max-width: 212px;
    margin: 0 auto;
    padding: 12px 0;
  }
  .home .centered .home-description {
    font-size: 19px;
  }
  .about__main {
    flex-wrap: wrap-reverse;
    margin-bottom: -70px;
  }
  .about__main img {
    width: 75% !important;
  }
  .about__main .title {
    font-size: 34px !important;
  }
  .about__main .col-lg-6 {
    text-align: center;
  }
  .about__main .about__content .description {
    font-size: 1rem;
    margin: 0 auto;
  }
  .about__main button {
    padding: 10px 65px;
    font-size: 0.8rem;
  }
  .homeCenter img {
    width: 100%;
  }
  .home__brand .brand__thumbnail img {
    width: 100%;
  }
  .home__brand .bottom-left {
    text-align: end;
    width: 79%;
    top: 34%;
    left: 46px;
    font-size: 25px;
  }
  .home__brand .bottom-left button {
    padding: 5px 10px;
  }
  .home__brand .bottom-right {
    width: 79%;
    top: 6%;
    left: 20px;
    font-size: 25px;
  }
  .home__brand .bottom-right .brand__btn {
    text-align: left !important;
  }
  .home__brand .bottom-right .brand__btn button {
    padding: 5px 10px;
  }
  .video-content .gif-text {
    top: -150px !important;
    left: 7% !important;
    max-width: 70% !important;
  }
  .video-content .gif-head {
    font-size: 21px !important;
    line-height: 29px !important;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .home__main-image {
    height: 553px !important;
  }
  .home .centered {
    width: 66% !important;
  }
  .home .centered .home-title {
    width: 92%;
  }
  .home .centered .home-subtitle {
    font-size: 15px;
    max-width: 212px;
    margin: 0 auto;
    padding: 12px 0;
  }
  .home .centered .home-description {
    font-size: 19px;
  }
  .about__main {
    flex-wrap: wrap-reverse;
    margin-bottom: -70px;
  }
  .about__main img {
    width: 75% !important;
  }
  .about__main .title {
    font-size: 34px !important;
  }
  .about__main .col-lg-6 {
    text-align: center;
  }
  .about__main .about__content .description {
    font-size: 1rem;
    margin: 0 auto;
  }
  .about__main button {
    padding: 10px 65px;
    font-size: 0.8rem;
  }
  .homeCenter img {
    width: 49%;
  }
  .home__brand .brand__thumbnail img {
    width: 100%;
  }
  .home__brand .bottom-left {
    text-align: end;
    width: 79%;
    top: 34%;
    left: 46px;
    font-size: 25px;
  }
  .home__brand .bottom-left button {
    padding: 5px 10px;
  }
  .home__brand .bottom-right {
    width: 79%;
    top: 6%;
    left: 57px;
    font-size: 25px;
  }
  .home__brand .bottom-right .brand__btn {
    text-align: left !important;
  }
  .home__brand .bottom-right .brand__btn button {
    padding: 5px 10px;
  }
  .video-content .gif-text {
    top: -150px !important;
    left: 7% !important;
    max-width: 70% !important;
  }
  .video-content .gif-head {
    font-size: 21px !important;
    line-height: 29px !important;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .home__main-image {
    height: 553px !important;
  }
  .home .centered {
    width: 66% !important;
  }
  .home .centered .home-title {
    width: 92%;
  }
  .home .centered .home-subtitle {
    font-size: 15px;
    max-width: 212px;
    margin: 0 auto;
    padding: 12px 0;
  }
  .home .centered .home-description {
    font-size: 19px;
  }
  .about__main {
    flex-wrap: wrap-reverse;
    margin-bottom: -70px;
  }
  .about__main img {
    width: 75% !important;
  }
  .about__main .title {
    font-size: 34px !important;
  }
  .about__main .col-lg-6 {
    text-align: center;
  }
  .about__main .about__content .description {
    font-size: 1rem;
    margin: 0 auto;
  }
  .about__main button {
    padding: 10px 65px;
    font-size: 0.8rem;
  }
  .homeCenter img {
    width: 29%;
  }
  .home__brand .brand__thumbnail img {
    width: 100%;
  }
  .home__brand .bottom-left {
    text-align: end;
    width: 79%;
    top: 67%;
    left: 119px;
    font-size: 25px;
  }
  .home__brand .bottom-left button {
    padding: 5px 10px;
  }
  .home__brand .bottom-right {
    width: 79%;
    top: 6%;
    left: 57px;
    font-size: 25px;
  }
  .home__brand .bottom-right .brand__btn {
    text-align: left !important;
  }
  .home__brand .bottom-right .brand__btn button {
    padding: 5px 10px;
  }
  .video-content .gif-text {
    top: -150px !important;
    left: 7% !important;
    max-width: 70% !important;
  }
  .video-content .gif-head {
    font-size: 21px !important;
    line-height: 29px !important;
  }
}
@media screen and (min-width: 1200px) {
  .about__main {
    flex-wrap: wrap-reverse;
    margin-bottom: -70px;
  }
  .about__main img {
    width: 75% !important;
  }
  .about__main .title {
    font-size: 34px !important;
  }
  .about__main .col-lg-6 {
    text-align: center;
  }
  .about__main .about__content .description {
    font-size: 1rem;
    margin: 0 auto;
  }
  .about__main button {
    padding: 10px 65px;
    font-size: 0.8rem;
  }
  .homeCenter img {
    width: 29%;
  }
  .home__brand .brand__thumbnail img {
    width: 100%;
  }
  .home__brand .bottom-left {
    text-align: end;
    width: 79%;
    top: 70%;
    left: 141px;
    font-size: 25px;
  }
  .home__brand .bottom-left button {
    padding: 5px 10px;
  }
  .home__brand .bottom-right {
    width: 79%;
    top: 6%;
    left: 57px;
    font-size: 25px;
  }
  .home__brand .bottom-right .brand__btn {
    text-align: left !important;
  }
  .home__brand .bottom-right .brand__btn button {
    padding: 5px 10px;
  }
  .video-content .gif-text {
    top: -150px !important;
    left: 7% !important;
    max-width: 70% !important;
  }
  .video-content .gif-head {
    font-size: 21px !important;
    line-height: 29px !important;
  }
}/*# sourceMappingURL=home.css.map */