.common-section {
    position: relative;

    img {
        width: 100%;
        max-height: 453px;
        object-fit: cover;
    }

    .centered {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 65px;
        line-height: 78px;
        text-align: center;
        color: #FFFFFF;
        font-family: 'gerald-regular', 'sans-serif';
    }
}

.breadcrumb__index {
    background: #f4e5d4;

    .breadcrumb__item {
        padding: 20px 0;
    }
}

.product {
    padding-top: 120px;
    background: #f4e5d4;

    .filter__index {
        display: flex;
        justify-content: space-between;
        padding-top: 11px;
        border-top: 1px solid #E7D2BB;
        border-right: 1px solid #E7D2BB;
        flex-wrap: wrap;

        a {
            text-decoration: underline !important;
            font-family: 'Mondia', sans-serif;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.03em;
            text-decoration-line: underline;
            color: #4C192A;
        }

        h2 {
            font-family: 'Arno Pro';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            letter-spacing: 0.03em;
            color: #4C192A;
        }

        .accordion__main {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            flex-direction: column;
        }

        .accordion__item {
            background: transparent;
            border: none;
            box-shadow: none;
            position: static;
        }

        .MuiAccordionSummary-content {
            border-top: 1px solid #E7D2BB;
            padding-top: 12px;
        }

        #accordion-item {
            .MuiAccordionSummary-content {
                border: none;
                padding-top: 0;
            }
        }
    }

    .product__list-item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        border: 1px solid #E7D2BB;
        margin-bottom: 40px;

        .card-index {
            width: 33%;
            display: flex;
            margin-top: 30px;
            flex-direction: column;
            position: relative;

            &:nth-child(3n) {
                .right__border {
                    display: none;
                }
            }

            .right__border {
                position: absolute;
                border: 1px solid #E7D2BB;
                width: 600px;
                top: 47%;
                transform: rotate(-90deg);
                left: 1%;
                right: 0;
            }


            .product-text {
                padding-top: 30px;
            }

            img {
                width: 33%;
                height: 407px;
                margin: 0 auto;
                cursor: pointer;
                transform: scale(1);
                transition: .5s ease-in-out;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .product__btn {
                text-align: center;
                padding-top: 25px;
                padding-bottom: 25px;
                border-bottom: 1px solid #E7D2BB;

                button {
                    border: 1px solid #974D24;
                    color: #974D24;
                    text-transform: none;
                    font-family: 'Arno Pro';
                    font-style: normal;
                    font-weight: 600;
                    font-size: 13.5px;
                    line-height: 16px;
                    text-align: center;
                    padding: 10px 38px;
                    transition: .3s ease-in-out;


                    &:hover {
                        color: white;
                        background: #974D24;
                    }
                }
            }
        }

        .product-head {
            font-family: 'Arno Pro';
            font-style: normal;
            font-weight: 700;
            font-size: 21px;
            line-height: 110%;
            text-align: center;
            color: #292929;
        }

        .product-body {
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: #616161;
            font-family: 'futura-regular', 'sans-serif';
            margin-top: 5px;
        }
    }
}

@media screen and (max-width: 576px) {

    .breadcrumb__index {
        .breadcrumb__item {
            padding-left: 15px;

            .MuiBreadcrumbs-li {
                a {
                    font-size: 13px;
                }
            }
        }
    }

    .common-section {
        .centered {
            top: 27%;
            font-size: 35px;
            text-transform: none !important;
        }

        img {
            height: 200px;
        }
    }

    .product {
        padding-top: 25px;

        .product__list-item {
            .right__border {
                display: none;
            }

            .card-index {
                width: 100% !important;

                img {
                    width: 18%;
                    height: 263px;
                }
            }
        }

        .accordion__main {
            border-top: 1px solid #E7D2BB;
        }

        .filter__index {
            border-bottom: 1px solid #E7D2BB;
            border-right: 0px;

            .MuiAccordionSummary-content {
                border: none !important;
            }
        }
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {

    .breadcrumb__index {
        .breadcrumb__item {
            padding-left: 15px;

            .MuiBreadcrumbs-li {
                a {
                    font-size: 13px;
                }
            }
        }
    }

    .common-section {
        .centered {
            top: 27%;
            font-size: 35px;
            text-transform: none !important;
        }

        img {
            height: 200px;
        }
    }

    .product {
        padding-top: 25px;

        .product__list-item {
            .right__border {
                display: none;
            }

            .card-index {
                width: 100% !important;

                img {
                    width: 18%;
                    height: 263px;
                }
            }
        }

        .accordion__main {
            border-top: 1px solid #E7D2BB;
        }

        .filter__index {
            border-bottom: 1px solid #E7D2BB;
            border-right: 0px;

            .MuiAccordionSummary-content {
                border: none !important;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .breadcrumb__index {
        .breadcrumb__item {
            padding-left: 15px;

            .MuiBreadcrumbs-li {
                a {
                    font-size: 16px;
                }
            }
        }
    }

    .common-section {
        .centered {
            top: 27%;
            font-size: 35px;
            text-transform: none !important;
        }

        img {
            height: 200px;
        }
    }

    .product {
        padding-top: 25px;

        .product__main-item {
            display: flex;
        }

        .product__list-item {
            .right__border {
                display: none;
            }

            .card-index {
                width: 33% !important;

                img {
                    width: 51%;
                    height: 338px;
                }
            }
        }

        .accordion__main {
            border-top: 1px solid #E7D2BB;
        }

        .filter__index {
            border-bottom: 1px solid #E7D2BB;
            border-right: 0px;

            .MuiAccordionSummary-content {
                border: none !important;
            }
        }
    }
}

@media screen and (min-width: 992px) and (max-width: 1200px) {
    .breadcrumb__index {
        .breadcrumb__item {
            padding-left: 15px;

            .MuiBreadcrumbs-li {
                a {
                    font-size: 16px;
                }
            }
        }
    }

    .common-section {
        .centered {
            top: 27%;
            font-size: 35px;
            text-transform: none !important;
        }

        img {
            height: 200px;
        }
    }

    .product {
        padding-top: 25px;

        .product__main-item {
            display: flex;
        }

        .product__list-item {
            .right__border {
                display: none;
            }

            .card-index {
                width: 33% !important;

                img {
                    width: 43%;
                    height: 367px;
                }
            }
        }

        .accordion__main {
            border-top: 1px solid #E7D2BB;
        }

        .filter__index {
            border-bottom: 1px solid #E7D2BB;
            border-right: 0px;

            .MuiAccordionSummary-content {
                border: none !important;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .breadcrumb__index {
        .breadcrumb__item {
            padding-left: 15px;

            .MuiBreadcrumbs-li {
                a {
                    font-size: 16px;
                }
            }
        }
    }

    .common-section {
        position: relative;

        .centered {
            top: 27%;
            font-size: 65px;
            text-transform: none !important;
        }

        .background-img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
            opacity: 1;
            transition: 0.5s all ease-in-out;
        }

        img {
            height: 453px;
        }
    }

    .product {
        padding-top: 25px;

        .product__main-item {
            display: flex;
        }

        .product__list-item {
            .right__border {
                display: none;
            }

            .card-index {
                width: 33% !important;

                img {
                    width: 33%;
                    height: 367px;
                }
            }
        }

        .accordion__main {
            border-top: 1px solid #E7D2BB;
        }

        .filter__index {
            border-bottom: 1px solid #E7D2BB;
            border-right: 0px;

            .MuiAccordionSummary-content {
                border: none !important;
            }
        }
    }
}